.sideBar {
  background: linear-gradient(45deg, #2f89fc 0%, #ff5db1 100%);
  height: 100%;
  color: white;

  .sideBarSection {
    padding: 4px 8px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffeedf;
  }

  .sideBarIcon {
    color: white;
  }

  .sideBarTitle {
    //color: white;
    &:hover{
      color: white;
    }
  }
}

.main {
  background: #EDEFF5;
  height: 100vh;
  overflow: auto;

  .mainWrapper {
    background: white;
    padding: 24px;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
  }
}