.sideBar {
  background: linear-gradient(45deg,#2f89fc 0%,#ff5db1 100%);
  height: 100%;

  .sideBarIcon {
    color: white;
  }

  .sideBarTitle {
    color: white;
  }
}

.main{
  background: #EDEFF5;
  height: 100vh;
  padding: 20em;
  .mainWrapper{
    background: white;
    padding: 20px;
  }
}